# fastapi[standard]
# uvicorn
# dotenv
# google-genai
# pydantic

streamlit
pypdf
pytest

google-genai
langchain-text-splitters
# langchain-pinecone
# pinecone-client
python-dotenv
pyreadline3
pinecone

# presidio-analyzer 
# presidio-anonymizer